{{#extends "base"}}

{{#block "title"}}
<title>Display BMI</title>
{{/block}}

{{#block "content"}}
<div class="container">
<h1>BMI Summary</h1>
<ul>
<li>Your Weight: {{weight}}</li>
<li>Your Height: {{height}}</li>
<li>Your BMI: {{bmi}}</li>
</ul>
</div>
{{/block}}

{{/extends}}