{{#extends "base"}}

{{#block "title"}}
<title>Display Fruits</title>
{{/block}}

{{#block "content"}}
<div class="container">
<h1>Fruits Summary</h1>
<ul>
<li>Your selected Fruits: {{items}}</li>
<li>Your total cost is: ${{total}}</li>
</ul>
</div>
{{/block}}

{{/extends}}