{{#extends "base"}}

{{#block "title"}}
    <title>Add Movie</title>
{{/block}}

{{#block "content"}}
<div class="container">
    <h1>Add Movie</h1>
    <form method="POST">
        <div>
        <label>Movie Name:</label><br/>
        <input type='text' name='movieName'/><br/>
        <label>Plot:</label><br/>
        <textarea name='moviePlot' rows='5' cols="50"></textarea><br/>
        </div>
        <input type='submit' value='Add New Movie'/>
    </form>
</div>
{{/block}}

{{/extends}}